<div class="scrum-container">
    <mat-card>
        <mat-card-header>
            Comming soon..!
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <P>Thank your for landing on this page. This feature will be available Soon.</P>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-raised-button color="primary" [routerLink]="['/home/ceremony']"> Go Back </button>
        </mat-card-actions>
    </mat-card>

</div>