<div class="team-container">
    <mat-card *ngFor="let team of teams$; let i=index">
        <mat-card-content align="center">
            {{team.teamName}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-icon color="primary" matRipple (click)="navigateToCeremony(team.id)">groups</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-actions align="start">
            <mat-icon color="primary" matRipple (click)="navigateAddTeam()">add </mat-icon>
        </mat-card-actions>
    </mat-card>
</div>